<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
	<head>
		
		<vtex:template id="td-head" />

        <link rel="stylesheet" href="/arquivos/td-jsonOffersMustache.min.css" />

		<title>Offers Home</title>
	</head>
	<body id="Home">

        <vtex:template id="cpn-jsonOffers" />

		<vtex:template id="td-scripts" />
        
        <script type="text/javascript" src="/arquivos/td-jsonOffersMustache.min.js"></script>
	</body>
</html>
