#offersHome {

        &{
            width: 100%;
            float: left;
            background-color: $colorBG
        }

        .content{

            &{
                width: 100%;
                max-width: 1180px;
                min-width: 280px;
                margin: 0 auto;
            }

            ul.list-products{

                &{
                    width: 100%;
                    float: left;
                    text-align: center;
                }

                &.of8{
                    li{
                        width: calc((100% - 5rem) / 4);
                    }
                }

                &.of6 {
                    li{
                        width: calc((100% - 5rem) / 3);
                    }
                }

                li{

                    &{
                        display: inline-block;
                        margin: 1rem 0.5rem;
                    }

                    figure{

                        &{
                            width: 100%;
                            display: inline-block;
                            background-color: $figureBG;
                            border-radius: 6px 6px 0px 0px;
                        }

                        figcaption {

                            &{
                                width: 100%;
                                display: inline-block;
                                background-color: $figcaptionBG;
                                border-radius: 6px 6px 0px 0px;
                                overflow: hidden;
                            }

                                .box02{

                                &{
                                    width: calc(98% / 2);
                                    display: inline-block;
                                    box-sizing: border-box;
                                    padding: 0.8rem;
                                    vertical-align: middle;
                                }

                                &:nth-child(1){
                                    background-color: $nth1BG;
                                }

                                &:nth-child(2){
                                    background-color: $nth2BG;
                                }

                                .boxtitle{

                                    &{
                                        background-color: $boxtitleBG;
                                        text-transform: uppercase;
                                        box-sizing: border-box;
                                        padding: 0 5px 0 5px;
                                        text-align: left;
                                        height: 5rem;
                                        border-radius: 5px;
                                        width: 100%;
                                        display: table-cell;
                                        vertical-align: middle;
                                        box-sizing: border-box;
                                        border-bottom: 5px solid $boxtitleBD;
                                    }

                                    span{
                                        font-weight: 700;
                                        font-size: 0.8rem;
                                        color: $boxtitleCL;
                                    }

                                }

                                .boxPrice {

                                    &{
                                        height: 5rem;
                                    }

                                    span.top{
                                        width: 100%;
                                        display: inline-block;
                                        font-size: 0.8rem;
                                        text-align: left;
                                        font-weight: 700;
                                        color: $boxPriceTopCL;
                                        font-weight: 800;
                                    }

                                    .middle {

                                        &{
                                            height: 3.5rem;
                                            position: relative;
                                            color: $boxPriceMiddleCL;
                                        }

                                        span {

                                            &{
                                                color: $boxPriceMiddleCL;
                                                font-weight: 800;
                                            }

                                            &.coin{
                                                font-size: 0.8rem;
                                                text-transform: uppercase;

                                            }

                                            &.price{
                                                font-size: 3.5rem;
                                                word-spacing: -15px;
                                            }

                                            &.cents{
                                                font-size: 0.8rem;
                                            }

                                        }

                                    }

                                    span.down {
                                        width: 100%;
                                        display: inline-block;
                                        font-size: 0.7rem;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        color: $boxPriceDownCL;
                                        font-weight: 800;
                                    }

                                }

                            }
                        }

                        .img{
                            width: 100%;
                            display: inline-block;

                            img{
                                width: 100%;
                            }
                        }

                    }

                }
            }

        }
}
