@media screen and (max-width: 1120px){

    #offersHome{

        .content{

            ul.list-products{

                &.of8{
                    li{

                        &{
                            width: calc((100% - 5rem) / 3);
                        }

                    }

                 }

              }

            }

        }

}

@media screen and (max-width: 900px){

    #offersHome{

        .content{

            ul.list-products{

                &.of8{
                    li{

                        figure{

                            figcaption{

                                &{
                                    display: inline-block;
                                }

                                .box02{

                                    &{
                                        display: inline-block;
                                        width: 100%;
                                    }

                                    &:nth-child(1){
                                        padding: 0.5rem;
                                    }

                                    .boxtitle{

                                        &{
                                            width: 100%;
                                            display: table;
                                            height: 2.5rem;
                                            border: none;
                                        }
                                        
                                        span {
                                            width: 100%;
                                            display: table-cell;
                                            vertical-align: middle;
                                            text-align: center;
                                        }

                                    }

                                    .boxPrice{

                                        &{
                                            height: auto;
                                        }

                                        span.top{
                                            text-align: center;
                                        }

                                        .middle{

                                            &{
                                                height: auto;
                                            }

                                            span.price{
                                                font-size: 3rem;
                                            }

                                        }

                                    }

                                }

                            }    

                        }

                    }

                 }

              }

            }

        }

}

@media screen and (max-width: 700px){

    #offersHome{

        .content{

            ul.list-products{

                &.of8{

                    li {

                        &{
                            width: calc((100% - 5rem) / 2);
                        }

                    }

                }

            }

        }

    }    

}

@media screen and (max-width: 450px){

    #offersHome{

        .content{

            &{
                width: 90%;
            }

            ul.list-products{

                &.of8{

                    li {

                        &{
                            width: 100%;
                            margin: 1rem 0;
                        }

                    }

                }

            }

        }

    }   

}

