/* BACKGROUND-COLORS */
$colorBG: #000;
$figureBG: #fff;
$figcaptionBG: #fff;
$nth1BG: #fff;
$nth2BG: #fff;
$boxtitleBG: red;

/*COLORS */
$boxtitleCL: #fff;
$boxPriceTopCL: red;
$boxPriceMiddleCL: #000;
$boxPriceDownCL: red;

/*BORDER */
$boxtitleBD: darkred;
