<section id="offersHome">
    <div class="content">
        <ul class="list-products">
            <script type="text/javascript">
                var jsonArrayOffers = [
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                    {
                        link        : "google.com.br",
                        name        : "cobertor flanel",
                        priceTop    : "A partir de",
                        coin        : "R$",
                        price       : '59',
                        cents       : ',99',
                        priceDown   : 'em 10x sem juros',
                        img         : '//baherimports.vteximg.com.br/arquivos/ids/167317-400-400/fresh.jpg'
                    },
                ]
            </script>
        </ul>
    </div>
</section>
